.stylized {
    background: #e8e8e8;
    border: 20px solid #e8e8e8;
    border-radius: 15px;
}

.border-right {
    border-right: 1px solid gray;
}

.texto-preto-sombra-cinza {
    text-shadow: 2px 2px 4px #7e7e7e;
}
